.today {
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 100%;
}
.today > div {
  font-weight: bold;
}
.date {
  font-size: 20px;
}
.clock {
  font-size: 40px;
}

.form-wrap {
  width: 350px;
  left: 50%;
  top: 45%;
  transform: translate(-50%);
}
.form-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.form-wrap input {
  transition: 0.2s;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}
.form-wrap input:focus {
  transform: scale(1.1);
}
.search:focus {
  background-color: #ddd;
}
.todo-input:focus {
  background-color: rgb(144, 172, 197);
}

.todo-list {
  top: 60%;
  left: 20%;
}
.todo-list button {
  font-size: 18px;
  color: steelblue;
  cursor: pointer;
  margin-right: 10px;
}
.dust-info span {
  display: flex;
}
.clock-font{
  font-family: "Orbitron", sans-serif;
}
.main-title{
	color : #2AA79B;
}
.title > div{
	font-family: 'Cafe24Shiningstar';
	font-size : 80px;
	font-weight : bold;
	color : #2AA79B
}
