@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
}
*{
	font-family: 'GmarketSansMedium';
}


.table-box1 > table tr th,
.table-box1 > table tr td
{
	border-top:1px solid #2AA79B;
	border-bottom:1px solid #2AA79B;
	padding: 10px;
}

.btn-text-link:hover {
  color: gray;
}