@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'GmarketSansMedium';
}


.table-box1 > table tr th,
.table-box1 > table tr td
{
	border-top:1px solid #2AA79B;
	border-bottom:1px solid #2AA79B;
	padding: 10px;
}

.btn-text-link:hover {
  color: gray;
}

.article-menu:hover > .article-list {
  height: 90px;
  opacity: 1;
}
.kotra-font{
	font-family: 'KOTRAHOPE';
}
.Cafe24-font{
	font-family: 'Cafe24Shiningstar';
}
.reply{
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd; 
}
.reply-box{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd; 
}